.hero-section {
    display:block;
    margin: 0 auto;
    background-color: #C4C4C4;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: $linear-gradient,
                url(../image/Img-hero.jpg);
            background-repeat: no-repeat;
            background-position: center;
                background-size: cover;
                text-align: center;
                flex-basis: 100%;
                @media (min-width:480px) {
                    max-width: 1600px;
                }
    // display: block;
    // padding-top: 200px;
    // padding-bottom: 200px;
    // margin: 0 auto;
    
    // text-align: center;
    // background-color: #C4C4C4;
    // max-width: 1600px;
    // height: 600px;
    // background-image:$linear-gradient,
    //     url(../image/Img-hero.jpg);
    // background-repeat: no-repeat;
    // background-position: center;
    //     background-size: cover;

&__text {
font-size: 26px;
line-height: 1.615;
        margin: auto;
        margin-bottom: 30px;
        color: $color-primary;
       
        text-transform: uppercase;
        letter-spacing: 0.06em;
@media ( min-width:768px){
           font-weight: 900;
            font-size: 44px;
            line-height: 1.36;   
}   
    }


&__button {
    text-align: center;
    border-radius: 4px;
    padding: 10px 32px;
    background-color: $color-accent;
    color: $color-primary;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    border:$color-accent;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

}
