.logo {
    text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.16;
         padding-top: 16px;
        padding-bottom: 15px;
        @media screen and (min-width:468px) {
       
            }

        @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.19;
        }
          
        
  
    &__item1 {
            color:$color-accent;
        }
    &__item2 {
            color:$color-black;
        }
   
   &__item3 {
               color:$color-primary;
            }
           
}



